@import url("https://fonts.googleapis.com/css2?family=Jacquard+12&family=Jacquard+24&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* Body & Background */
body {
  font-family: "Font", monospace;
  background-color: #1a1a1a;
  color: #eeeeee;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 20px;
}

/* Title */
h2 {
  font-size: 4rem;
  font-family: "Jacquard 24", system-ui;
  width: 500px;
  background-color: #111;
  color: #ecb730;
  border: 5px solid #333;
  padding: 20px;
  box-shadow: 0 0 15px #000;
  text-align: center;
  text-shadow: #911f1f 0 5px 0;
}

/* PLAYER */
.player-container {
  display: flex;
  align-items: center;
  height: 64px;
  padding-right: 0px;
  padding-top: 2px;
  margin-right: -5px
}

.player {
  width: 80px;
  height: 80px; /* Ensure the image fits within the player box *//* Center the image */
  background-repeat: no-repeat;
  image-rendering: pixelated; /* Keep pixelated appearance if needed */
  
}

/* Player Sprite Sheet Animation */
@keyframes animateSprite {
  from {
    background-position: 0px; /* Start at the first frame */
  }
  to {
    background-position: -256px; /* Move to the last frame (512px for 8 frames × 64px) */
  }
}

/* GAME CONTAINER */
#game {
  width: 500px;
  background-color: #111;
  color: #eeeeee;
  border: 5px solid #333;
  padding: 20px;
  box-shadow: 0 0 15px #000;
  text-align: center;
}

/* Stats and Buttons */
#controls,
.ui {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid #633426;
  padding: 5px;
  color: #0a0a23;
}

#stats {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
  font-size: 0.85em;
  gap: 5px;
  margin-right: 90px;
}

.stat {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 200px;
}

/* Health Bar */
.progress-bar {
  width: 100%;
  height: 10px;
  position: relative;
}

.fill {
  height: 100%;
  transition: width 0.2s ease-in-out;
  background-color: #e74c3c;
}

#healthBar {
  background-color: #e74c3c;
}

#xpBar {
  background-color: #ecb730;
}

/* Inventory Button */
#inventoryButton {
  margin: 5px 20px 8px 5px;
  padding: 5px 10px;
  background-color: #555;
  cursor: pointer;
}

#inventoryButton:hover {
  background-color: #777;
}

/* Inventory Overlay */
#inventory {
  width: 50px;
  height: 200px;
  padding: 5px;
  background-color: #141414;
  border: 2px solid #633426;
  z-index: 10;
  margin-top: 85px;
  margin-left: -10px;
}

#inventoryList {
  display: grid;
  grid-template-columns: 1fr; /* Two columns, each taking up equal space */
  gap: 10px; /* Adjust the gap between items as needed */
  list-style: none;
  padding: 0;
  margin-top: 5px;
  margin-bottom: 5px;
  justify-items: center; /* Center items horizontally */
  align-items: center;
}

.hidden {
  display: none;
}

/* Weapon icons container */
.weapon-icon {
  width: 30px; /* Adjust to the size of each weapon */
  height: 30px; /* Adjust to the size of each weapon */
  background-image: url("assets/iron-weapons.png");
  background-size: 768px 640px;
  image-rendering: pixelated;
}

.weapon-stick {
  background-position: 192px 0;
}

.weapon-dagger {
  background-position: -224px 32px;
}

.weapon-hammer {
  background-position: -160px 32px;
}

.weapon-sword {
  background-position: -256px -256px;
}


/* Controls */
#controls {
  display: flex;
  justify-content: space-around;
  padding: 15px;
  height: 70px;
}

/* Monster Stats */
#monsterStats {
  display: none;
  background-color: #130101;
  border: 3px solid #8b0000;
  height: 90px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding: 10px;
}

.monsterStatsContainer {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 5px;
  font-size: 1rem;
  gap: 5px;
  height: 100%;
}

#monsterHealthBar {
  max-width: 250px;
  height: 10px;
  background-color: #ccc;
  border: 1px solid #000;
}

#monsterHealthFill {
  background-color: #ff0000;
}


#monsterElement {
  width: 80px; /* Adjust based on your monster sprite */
  height: 80px;
  background-size: cover;
  background-repeat: no-repeat;
}

.ogrum {
  width: 100px;
  height: 100px;

}

.stat {
  color: #fecc4c;
  display: flex;
}

.gold {
  justify-content: start;
}

button {
  background-color: #555;
  color: #fdfdfd;
  font-family: "Font", monospace;
  font-size: 0.75em;
  padding: 15px 20px;
  margin-bottom: 3px;
  border: 2px solid #333;
  box-shadow: 0 4px #222;
  transition: transform 0.1s;
}

button:hover {
  background-color: #5e5e5e;
}

button:active {
  transform: translateY(2px);
  box-shadow: 0 2px #222;
}

/* Text Area */
#text {
  background-color: #222;
  color: #dddddd;
  border: 2px solid #333;
  padding: 15px;
  font-size: 0.9em;
  margin-top: 15px;
  line-height: 1.5;
  height: 125px;
}

.fade-text span {
  opacity: 0;
  transition: opacity 0.01s ease-in; /* Adjust for fade speed */
}

.fade-text span.visible {
  opacity: 1;
}
