@import url("https://fonts.googleapis.com/css2?family=Jacquard+12&family=Jacquard+24&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* Body & Background */
body {
  font-family: "Font", monospace;
  background-color: #1a1a1a;
  color: #eeeeee;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 20px;
}
/* Title */
h2 {
  font-size: 4rem;
  font-family: "Jacquard 24", system-ui;
  width: 500px;
  background-color: #111;
  color: #ecb730;
  border: 5px solid #333;
  padding: 20px;
  box-shadow: 0 0 15px #000;
  text-align: center;
  text-shadow: #911f1f 0 5px 0;
}
/* PLAYER */
.player-container {
  display: flex;
  align-items: center; 
  height: 64px; /* Match the height of #player */
  width: 100px;  /* Match the width of #player */
  
}
#player {
  width: 128px; /* Width of a single frame */
  height: 128px; /* Height of a single frame */
  background-image: url('assets/player-idle.png');
  background-size: 512px 128px; /* Total width of the spritesheet */
  animation: playIdle 1.6s steps(4) infinite; /* 4 frames over 1.6 seconds */
  background-repeat: no-repeat;
  image-rendering: pixelated;
  margin-bottom: 50px;
  margin-left: -20px;
 
}

/* Player Sprite Sheet Animation */
@keyframes playIdle {
  from {
    background-position: 0px; /* Start at the first frame */
  }
  to {
    background-position: -512px; /* Move to the last frame (512px for 8 frames × 64px) */
  }
}

/* GAME CONTAINER */
#game {
  width: 500px;
  background-color: #111;
  color: #eeeeee;
  border: 5px solid #333;
  padding: 20px;
  box-shadow: 0 0 15px #000;
  text-align: center;
}
.ui {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid #633426;
  padding: 5px;
  color: #0a0a23;
}

/* Stats and Buttons */
#controls{
  z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid #633426;
  padding: 5px;
  color: #0a0a23;
}

#stats {
  display: flex;
  flex-direction: column;
  padding: 5px;
  font-size: 0.85em;
  gap: 5px;
  margin-left: -105px;
}

.stat {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 200px;
}

/* Health Bar */
.max-health{
  width: 100%;
  height: 10px;
  position: relative;
  border: 1px solid rgb(131, 131, 131);
}

#healthBar {
  height: 100%;
  transition: width 0.2s ease-in-out;
  background-color: #e74c3c;
}

.max-xp{
  width: 100px;
  height: 10px;
  position: relative;
  border: 1px solid rgb(131, 131, 131);
}

#xpBar {
  height: 100%;
  transition: width 0.2s ease-in-out;
  background-color: #ecb730;
}

/* Inventory Button */
#inventoryButton {
  margin: 5px 5px 8px 5px;
  padding: 5px 15px;
  background-color: #555;
  cursor: pointer;
}

#inventoryButton:hover {
  background-color: #777;
}

/* Inventory Overlay */
#inventory {
  width: 50px;
  height: 200px;
  padding: 5px;
  background-color: #141414;
  border: 2px solid #633426;
  z-index: 10;
  margin-top: 35px;
  margin-left: -10px;
}

#inventoryList {
  display: grid;
  grid-template-columns: 1fr; /* Two columns, each taking up equal space */
  gap: 10px; /* Adjust the gap between items as needed */
  list-style: none;
  padding: 0;
  margin-top: 5px;
  margin-bottom: 5px;
  justify-items: center; /* Center items horizontally */
  align-items: center;
}

.hidden {
  display: none;
}

/* Weapon icons container */
.weapon-icon {
  width: 30px; /* Adjust to the size of each weapon */
  height: 30px; /* Adjust to the size of each weapon */
  background-image: url("assets/iron-weapons.png");
  background-size: 768px 640px;
  image-rendering: pixelated;
}

.weapon-stick {
  background-position: 192px 0;
}

.weapon-dagger {
  background-position: -224px 32px;
}

.weapon-hammer {
  background-position: -160px 32px;
}

.weapon-sword {
  background-position: -256px -256px;
}

/* Controls */
#controls {
  display: flex;
  justify-content: space-around;
  padding: 15px;
  height: 70px;
}

/* Monster Stats */
#monsterStats {
  display: none;
  background-color: #111;
  border: 3px solid #8b0000;
  height: 120px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.monsterStatsContainer {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 15px;
  font-size: .85em;
  gap: 5px;
  height: 100%;
  margin-top: 20px;
}


.monster-max-health {
  max-width: 250px;
  height: 10px;
  border: 1px solid rgb(131, 131, 131);
}

.monster-health {
  height: 100%;
  transition: width 0.2s ease-in-out;
  background-color: #e74c3c;
}

#monsterElementContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9;
}

#monsterElement {
  z-index: 9;
}


/* Vilandra animations */
.one-eyed-vilandra-idle {
  background-image: url('assets/one-eyed-vilandra-idle.png');
  animation: vilandraIdle 2s steps(8) infinite;
  background-size: 922px 115px;
  background-repeat: no-repeat;
  transform: scaleX(-1);
  width: 100px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

@keyframes vilandraIdle {
  from {
    background-position: 0px;
  }
  to {
    background-position: -922px;
  }
}

.one-eyed-vilandra-hit {
  background-image: url('assets/one-eyed-vilandra-hit.png');
  animation: vilandraHit .4s steps(3) forwards; /* Adjust the number of steps here */
  background-size: 223px 77px; /* Total width of the spritesheet */
  background-repeat: no-repeat;
  transform: scaleX(-1);
  width: 75px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 40px;
}


/* Animation for hit state */
@keyframes vilandraHit {
  from {
    background-position: 0px; 
  }
  to {
    background-position: -223px; 
  }
}

.one-eyed-vilandra-attack {
  background-image: url('assets/one-eyed-vilandra-attack.png');
  animation: vilandraAttack 2s steps(8) infinite;
  background-size: 922px 115px;
  background-repeat: no-repeat;
  transform: scaleX(-1);
  width: 100px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

/* Animation for idle state */
@keyframes vilandraAttack {
  from {
    background-position: 0px; /* Start at the first frame */
  }
  to {
    background-position: -922px; /* Move to the last frame (512px for 8 frames × 64px) */
  }
}

.one-eyed-vilandra-death {
  background-image: url('assets/one-eyed-vilandra-death.png');
  animation: vilandraDeath 2s steps(8) forwards;
  background-size: 922px 115px;
  background-repeat: no-repeat;
  width: 120px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

@keyframes vilandraDeath {
  from {
    background-position: 0px;
  }
  to {
    background-position: -922px;
  }
}


/* ============================================================== */
/* ============================================================== */

/* testing */

/* .ogrum-the-fanged-beast-idle {
  background-image: url('assets/ogrum-the-fanged-beast-attack.png');
  animation: monsterIdle 2s steps(7) infinite;
  background-size: 1752px 170px;
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  margin-bottom: 45px;
}

@keyframes monsterIdle {
  from {
    background-position: 0px;
  }
  to {
    background-position: -1752px; 
  }
} */


/* Ogrum Animations */

.ogrum-the-fanged-beast-idle {
  background-image: url('assets/ogrum-the-fanged-beast-idle.png');
  animation: ogrumIdle 2s steps(4) infinite;
  background-size: 1152px 160px;
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  margin-bottom: 43px;
}

@keyframes ogrumIdle {
  from {
    background-position: 0; 
  }
  to {
    background-position: -1152px; 
  }
}

.ogrum-the-fanged-beast-hit {
  background-image: url('assets/ogrum-the-fanged-beast-hit.png');
  animation: ogrumHit .4s steps(3) infinite;
  background-size: 223px 77px;
  background-repeat: no-repeat;
  transform: scaleX(-1);
  width: 75px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 40px;
}

@keyframes ogrumHit {
  from {
    background-position: 0px; 
  }
  to {
    background-position: -223px; 
  }
}

.ogrum-the-fanged-beast-attack {
  background-image: url('assets/ogrum-the-fanged-beast-attack.png');
  animation: ogrumAttack 1.5s steps(7) forwards;
  background-size: 2002px 170px;
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  margin-bottom: 45px;
}


@keyframes ogrumAttack {
  from {
    background-position: 0px; 
  }
  to {
    background-position: -2002px; 
  }
}

.ogrum-the-fanged-beast-death {
  background-image: url('assets/ogrum-the-fanged-beast-death.png');
  animation: ogrumDeath 2s steps(8) forwards;
  background-size: 922px 115px;
  background-repeat: no-repeat;
  width: 120px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

@keyframes ogrumDeath {
  from {
    background-position: 0px; 
  }
  to {
    background-position: -922px;
  }
}


/* Apex Animations */

/* .apex-wyrm-idle {
 background-image: url('assets/apex-wyrm-attack.png');
  animation: apexIdle 2s steps(7) infinite;
  background-size: 2800px 210px;
  background-repeat: no-repeat;
  width: 350px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 83px;
  margin-left: -70px;
  
}

@keyframes apexIdle {
   from {
    background-position: -20px; 
  }
  to {
    background-position: -2820px; 
  }
} */

.apex-wyrm-idle {
  background-image: url('assets/apex-wyrm-idle.png');
  animation: apexIdle 2s steps(6) infinite;
  background-size: 2800px 210px;
  background-repeat: no-repeat;
  width: 300px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 83px;
}

@keyframes apexIdle {
  from {
    background-position: -125px; 
  }
  to {
    background-position: -2925px; 
  }
}

.apex-wyrm-hit {
  background-image: url('assets/apex-wyrm-hit.png');
  animation: apexHit .4s steps(3) infinite;
  background-size: 223px 77px;
  background-repeat: no-repeat;
  transform: scaleX(-1);
  width: 75px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
}

@keyframes apexHit {
  from {
    background-position: 0px; 
  }
  to {
    background-position: -223px; 
  }
}

.apex-wyrm-attack {
  background-image: url('assets/apex-wyrm-attack.png');
  animation: apexAttack 2s steps(7) infinite;
  background-size: 2800px 210px;
  background-repeat: no-repeat;
  width: 350px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 83px;
  margin-left: -70px;
}


@keyframes monsterAttack {
  from {
    background-position: -20px; 
  }
  to {
    background-position: -2820px; 
  }
}

.apex-wyrm-death {
  background-image: url('assets/apex-wyrm-death.png');
  animation: apexDeath 2s steps(8) forwards;
  background-size: 922px 115px;
  background-repeat: no-repeat;
  width: 120px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

@keyframes apexDeath {
  from {
    background-position: 0px; 
  }
  to {
    background-position: -922px;
  }
}

.stat {
  color: #fecc4c;
  display: flex;
}


button {
  background-color: #555;
  color: #fdfdfd;
  font-family: "Font", monospace;
  font-size: 0.75em;
  padding: 15px 20px;
  margin-bottom: 3px;
  border: 2px solid #333;
  box-shadow: 0 4px #222;
  transition: transform 0.1s;
  z-index: 10;
}

button:hover {
  background-color: #5e5e5e;
}

button:active {
  transform: translateY(2px);
  box-shadow: 0 2px #222;
}

/* Text Area */
#text {
  background-color: #222;
  color: #dddddd;
  border: 2px solid #333;
  padding: 15px;
  font-size: 0.9em;
  margin-top: 15px;
  line-height: 1.5;
  height: 125px;
}

.fade-text span {
  opacity: 0;
  transition: opacity 0.01s ease-in; /* Adjust for fade speed */
}

.fade-text span.visible {
  opacity: 1;
}
